@model CheckoutViewModel
@{
    ViewData["Title"] = "Đặt hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var culture = CultureInfo.CurrentCulture.Name;

}
@inject Microsoft.Extensions.Configuration.IConfiguration _conf;
<div class="span9">
    <ul class="breadcrumb">
        <li><a href="index.html" localize-content>Home</a> <span class="divider">/</span></li>
        <li class="active" localize-content>Purchase</li>
    </ul>
    <h3>  <localize>SHOPPING CART</localize> ( <small>@Model.CartItems.Count <localize>Item(s)</localize> </small>)
        @*<a href="/" class="btn btn-large pull-right">
            i class="icon-arrow-left"></i><localize>Continue Shopping</localize> 
        </a>*@
    </h3>
    <hr class="soft" />

    @if (TempData["result"] != null)
    {
        <span class="alert alert-success" style="transform: scale(2,2)">@TempData["result"]</span>
    }
    else
    {
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th localize-content>Product</th>
                    <th localize-content>ProductName</th>
                    <th localize-content>Quantity</th>
                    <th localize-content>Price</th>
                    <th localize-content>Total</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.CartItems)
                {
                    <tr>
                        <td> <img width="60" src="@(_conf["BaseAddress"] + item.Image)" alt="@item.Name" /></td>
                        <td>@item.Name</td>
                        <td>
                            @item.Quantity
                        </td>
                        <td>@item.Price.ToString("N0")</td>
                        <td>@((item.Quantity * item.Price).ToString("N0"))</td>
                    </tr>

                }
                <tr>
                    <td colspan="4" style="text-align:right"><strong><localize>TOTAL =</localize> </strong></td>
                    <td class="label label-important" style="display:block"> <strong> @Model.CartItems.Sum(x => x.Quantity * x.Price).ToString("N0") </strong></td>
                </tr>

            </tbody>
        </table>

        <table class="table table-bordered">
            <tr><th><localize>ESTIMATE YOUR SHIPPING</localize></th></tr>
            <tr>
                <td>
                    <form class="form-horizontal" action="/@culture/Cart/Checkout" method="post">
                        <div class="control-group">
                            <label class="control-label" for="inputCountry" localize-content>Name</label>
                            <div class="controls">
                                <input type="text" asp-for="CheckoutModel.Name" localize-att-placeholder="Name">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="inputCountry" localize-content>Address</label>
                            <div class="controls">
                                <input type="text" asp-for="CheckoutModel.Address" localize-att-placeholder="Address">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="inputCountry" localize-content>PhoneNumber</label>
                            <div class="controls">
                                <input type="text" asp-for="CheckoutModel.PhoneNumber" localize-att-placeholder="PhoneNumber">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="inputCountry">Email</label>
                            <div class="controls">
                                <input type="email" asp-for="CheckoutModel.Email" localize-att-placeholder="Email">
                            </div>
                        </div>



                        <div class="control-group">
                            <div class="controls">
                                <button type="submit" class="btn" localize-content>Purchase</button>
                            </div>
                        </div>
                    </form>
                </td>
            </tr>
        </table>
        <a href="/" class="btn btn-large"><i class="icon-arrow-left"></i> <localize>Continue Shopping</localize> </a>
    }
    @*<a href="login.html" class="btn btn-large pull-right">Next <i class="icon-arrow-right"></i></a>*@

</div>

